<h1>Lista de persons</h1>
 
 <%= link_to 'Adicionar person', new_person_path %>
<table>
  <tr>
    <th>person:</th>

  </tr>
 
  <% @persons.each do |person| %>
    <tr>
      <td><%= person.description %></td>

      <td><%= link_to 'Mostrar', person_path(person) %></td>
      <td><%= link_to 'Editar', edit_person_path(person) %></td>
     <td><%= link_to 'Remover', person_path(person), method: :delete, data: { confirm: 'Tem a certeza que deseja eliminar este person?' } %></td>
    
    </tr>
  <% end %>
</table>