<h1>Lista de Documentos</h1>

 <%= link_to 'Adicionar Documento', new_document_path %>
<table>
  <tr>
    <th>Documento:</th>

  </tr>

  <% @documents.each do |document| %>

    <tr>
      <th>Documento/Relatório</th>
      <td><%=  document.document_file_name %></td>
      <td> <%= link_to 'Download', document.document.url(:original, false) %> </td>
      <th>Projecto a que pertence a apresentação </th>
      <td><%= document.project.title%></td>
      

      <td><%= link_to 'Mostrar', document_path(document) %></td>
      <td><%= link_to 'Editar', edit_document_path(document) %></td>
     <td><%= link_to 'Remover', document_path(document), method: :delete, data: { confirm: 'Tem a certeza que deseja eliminar?' } %></td>

    </tr>
  <% end %>
</table>
