<p>
  <strong>Documento:</strong>
  <%= @document.name %>
  <%= @document.description %>
  <%= @document.date %>
  <%= @document.local %>
  <%= @document.project_id %>
</p>


 <td><%= link_to 'Editar', edit_document_path(@document) %>
 <%= link_to 'Voltar', documents_path %>
 </td>
