<title>ProjectSubmit</title>
<%= csrf_meta_tags %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Source+Code+Pro:500,600' %>
<%= stylesheet_link_tag "main", 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag "classic", 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag "grid", 'data-turbolinks-track': 'reload' %>

<%= javascript_include_tag "application", "data-turbolinks-track" => 'true' %>	