<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "layouts/head" %>
  </head>

   <body>
   
   <header class="head">
      <%= render partial: "layouts/header" %>
      <%= render partial: "layouts/nav" %>
    </header>

    <%= render partial: "layouts/flash" %>
  
    <!-- container principal --> 
    <div class="container">
      <div class="row justify-content-center">

      <!-- secção central -->
        <div class="col">
          
           <%= yield %>

        </div>
        
      </div>
    </div>
     
  	<%= render partial: "layouts/footer" %>

    <%= javascript_include_tag 'scripts' %>
    <% #= javascript_include_tag params[:controller] %>


  </body>
</html>
