<!DOCTYPE html>
<html>
  <head>
    <title>ProjectSubmit</title>
    <%= csrf_meta_tags %>

 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

	<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Source+Code+Pro:500,600' %>

    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "classic" %>
    <%= stylesheet_link_tag "grid" %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="index">

  	<header class="head">
  		<%= render partial: "layouts/header" %>
  		<%= render partial: "layouts/nav" %>
  	</header>
  
    <!-- Container-->

  <div class="content mt-1">
     <%= yield %>
  </div>

  	<%= render partial: "layouts/footer" %>

    <%= javascript_include_tag 'application', 'scripts' %>
  </body>
</html>
