<!DOCTYPE html>
<!-- with sidebar -->
<html>
  <head>
    <%= render partial: "layouts/head" %>
  </head>

   <body>
   
   <header class="head">
      <%#<%= render partial: "layouts/header" %>
      
      <%= render partial: "layouts/nav" %>
    </header>

    <%= render partial: "layouts/flash" %>
  
    <!-- container principal --> 
    <div class="container">
      <div class="row main-section justify-content-center">

      <!-- secção central -->
        <div class="col">
           <%= yield %>
        </div>
        
        <!-- sidebar com 3/12 do container -->
        <% if @sb_schools.present? %>
        <div class="col-3 hidden-md-down">
            <%= render partial: "shared/sidebar", locals: {schools: @sb_schools, courses: @sb_courses, tags:  @sb_tags} %>
        </div>
        <% end %>
        
      </div>
    </div>
   
  	<%= render partial: "layouts/footer"%>

    <%= javascript_include_tag 'scripts' %>
    <% #= javascript_include_tag params[:controller] %>
  </body>
</html>
