<!DOCTYPE html>
<html>
  <head>
    <title>ProjectSubmit</title>
    <%= csrf_meta_tags %>


 <!--   <%= stylesheet_link_tag '**application**', media: 'all', 'data-turbolinks-track': 'reload' %> -->

   <%#  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
   <%# <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


   <%#  <div id="user_nav">
   <%#    <% if user_signed_in? %>
   <%#      Signed in as <%= current_user.email %> <%# . Not you?
   <%#      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
   <%#    <% else %>
   <%#      <%= link_to "Sign up", new_user_registration_path %><%#  or <%= link_to "sign in", new_user_session_path %>
   <%#    <% end %>
   <%#  </div> %>


	<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Source+Code+Pro:500,600' %>

    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "classic" %>
    <%= stylesheet_link_tag "grid" %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="index">

	<header class="head">

		<%= render partial: "layouts/header" %>
		<%= render partial: "layouts/nav" %>

	</header>
	<section class="margin">
		    <div class="content">
		        <p class="switch">switch layout: <span id="grid">Grid</span> &bull; <span id="classic">Classic</span></p>

		        <!-- {% if page.title %}<h1 class="title">{{ page.title }}</h1>{% endif %} -->
		        
		        <div class="articles">
		            <%= yield %>
		        </div>
		        <% render partial: "layouts/sidebar" %>
		    </div>
		</section>

	<%= render partial: "layouts/footer" %>
    <%= javascript_include_tag 'application', '1-jquery-2.1.1.min' %>
    <%= javascript_include_tag 'application', '2-imagelightbox' %>
    <%= javascript_include_tag 'application', 'global.min' %>
    <%= javascript_include_tag 'application', 'scripts' %>
  </body>
</html>
