<!DOCTYPE html>
<html>
  <head>
    <title>ProjectSubmit</title>
    <%= csrf_meta_tags %>

 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

	<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Source+Code+Pro:500,600' %>

    <%= stylesheet_link_tag "main", 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "classic", 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "grid", 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="index">
    <% if !flash.empty? %>
      <% flash.each do |key,  value| %>    
          <div class="card col-xs-4 alert alert-success alert-dismissible fade in pos-popup-info has-success bg-success text-white" role="alert">
            <div class="card-block">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> 
              <%= content_tag(:h4, value, class: "flash #{key}") %>
              <script type="text/javascript">
                setTimeout(function(){ 
                  $(".pos-popup-info").animate({
                      opacity: 0,
                      width: 0,
                      height: 0
                    }, 3000, function() {
                      // Animation complete.
                      $(".pos-popup-info button.close").click();
                    });
                }, 3000);
              </script>
            </div>
          </div>
      <% end %>
    <% end %>

  	<header class="head">
  		<%= render partial: "layouts/header" %>
  		<%= render partial: "layouts/nav" %>
  	</header>
  
    <!-- Container--> 
     <%= yield %>

  	<%= render partial: "layouts/footer" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'scripts', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
