<h1>Adicionar Cadeira</h1>

<%= form_for :subject, url: subjects_path do |f| %>
 
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@subject.errors.count, "error") %> não foi guardado
      </h2>
      <ul>
        <% @subject.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :"Descrição da Cadeira" %><br>
    <%= f.text_field :description %>
  </p>
 
 <p>
    <%= f.label :"Nome da Cadeira" %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :"Iniciais da Cadeira" %><br>
    <%= f.text_field :inicials %>
  </p>

  <p>
    <%= f.label :"Código da Cadeira" %><br>
    <%= f.text_field :code %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Voltar', subjects_path %>