
<div class="col-sm-6">
  <div class="jumbotron px-1 py-1 rounded">
    <div class="alert alert-success text-center" role="alert">
      <h1>Log in | <%= render "users/shared/links" %></h1>
    </div>

    <div class="card card-outline-secundary">
      <div class="card-block">      
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="row mt-1">
            <div class="form-group has-success col-lg-12">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>
          </div>
            
          <div class="row mt-1"> 
            <div class="form-group has-success col-lg-12">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>

            <div class="form-group has-success col-lg-12">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" checkbox"<%= 'checked' if devise_mapping.rememberable? %>" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description"><%= f.label :remember_me %></span>
                </label>
                  <%#= f.check_box :remember_me %>
                  <%#= f.label :remember_me %>
            </div>
          </div> 

          <div class="row mt-1">
            <div class="form-group col-lg-12">
              <%= f.submit "Log in", :class => 'btn btn-outline-success btn-block' %>
            </div>
          </div>        
        <% end %>
      </div>
    </div>
  </div>
</div>


