<section class="margin">
  <div class="content">
    <div class="content_container">
      <article>
        <h1>Editing Project</h1>
        <%= form_for(project) do |f| %>
          <% if project.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

              <ul>
              <% project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :title %>
            <%= f.text_field :title %>
          </div>

          <div class="field">
            <%= f.label :resume %>
            <%= f.text_area :resume %>
          </div>

          <div class="field">
            <%= f.label :date %>
            <%= f.date_select :date %>
          </div>

          <div class="field">
            <%= f.label :grade %>
            <%= f.text_area :grade %>
          </div>

          <div class="field">
            <%= f.label :project_url %>
            <%= f.text_area :project_url %>
          </div>

          <div class="field">
            <%= f.label :presentation %>
            <%= f.datetime_select :presentation %>
          </div>

          <div class="field">
            <%= f.label :featured %>
            <%= f.check_box  :featured %>
          </div>

          <div class="field">
            <%= f.label :github %>
            <%= f.text_area :github %>
          </div>

          <div class="field">
            <%= f.label :finished %>
            <%= f.check_box  :finished %>
          </div>

          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
      </article>
    </div>
  </div>
</section>
