<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :resume %>
    <%= f.text_area :resume %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :grade %>
    <%= f.text_area :grade %>
  </div>

  <div class="field">
    <%= f.label :project_url %>
    <%= f.text_area :project_url %>
  </div>

  <div class="field">
    <%= f.label :presentation %>
    <%= f.datetime_select :presentation %>
  </div>

  <div class="field">
    <%= f.label :featured %>
    <%= f.check_box  :featured %>
  </div>

  <div class="field">
    <%= f.label :github %>
    <%= f.text_area :github %>
  </div>

  <div class="field">
    <%= f.label :finished %>
    <%= f.check_box  :finished %>
  </div>
  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field  :user_id %>
  </div>
  <div class="field">
    <%= f.label :subject_id %>
    <%= f.text_field  :subject_id %>
  </div>

  <div class="form-group">
    <%= f.label :titledoc %>
    <%= f.text_field :titledoc, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-control'%>
  </div>

  <div class="actions">
    <%= f.submit 'Adicionar Registo', class: 'btn btn-primary'%>
  </div>
<% end %>
