<%=form_for @project do |f| %>
  <% if project.errors.any? %>
      <div id="error_explanation" class="alert alert-warning" role="alert">
          <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
          <ul>
              <% project.errors.full_messages.each do |attr,message| %>
                  <li>
                      <%= message %>
                  </li>
                  <% end %>
          </ul>
      </div>
  <% end %>
  <div class=" col-xs-12">
    <div class="row">
        <fieldset class="form-group">
            <%=f.label :"Titulo do Projeto" %>
            <%=f.text_field :title, class: 'form-control' %>
        </fieldset>
    </div>
    <div class="row">
        <fieldset class="form-group col-xs-7">
            <%=f.label :"Resumo do Projeto" %>
            <%=f.text_area :resume, class: 'form-control', rows: 15 %>
        </fieldset>

        <fieldset class="form-group col-xs-1">
            <%=f.label :"Grau" %>
            <%=f.select( :grade, options_for_select([[ "1"],[ "2"],[ "3"],[ "4"],[ "5"],[ "6"],[ "7"],[ "8"],[ "9"]]), {}, {class: 'form-control'}) %>
        </fieldset>

        <fieldset class="form-group col-xs-4">
            <%=f.label :course_unit_id %>
            <%=f.select :course_unit_id, CourseUnit.all.order(name: :asc).collect { |s| [s.name, s.id] }, {}, {class: 'form-control'} %>
        </fieldset>

        <fieldset class="form-group col-xs-5">
            <%=f.label :"Data do Projeto" %>
            <%=f.date_field :date, class: 'form-control custom-select' %>
        </fieldset>

        <fieldset class="form-group col-xs-5">
            <%=f.label :"Link GitHub" %>
            <%=f.text_field :github, class: 'form-control' %>
        </fieldset>

        <fieldset class="form-group col-xs-5">
            <%=f.label :"Url do Projeto" %>
            <%=f.text_field :project_url, class: 'form-control' %>
        </fieldset>

        <div class="row col-xs-5">
            <div class=" col-xs-1"></div>

            <label class="custom-control custom-checkbox col-xs-2">
                <%=f.check_box :user_id, class: 'custom-control-input' %>
                <%=f.label :user_id, class: 'custom-control-description' %>
                <span class="custom-control-indicator"></span>
            </label>
            <label class="custom-control custom-checkbox col-xs-3">
                <%=f.check_box :featured, class: 'custom-control-input' %>
                <%=f.label :"Destacar", class: 'custom-control-description' %>
                <span class="custom-control-indicator"></span>
            </label>

            <label class="custom-control custom-checkbox col-xs-5">
                <%=f.check_box :finished, class: 'custom-control-input' %>
                <%=f.label :"Projecto acabado", class: 'custom-control-description' %>
                <span class="custom-control-indicator"></span>
            </label>

        </div>
    </div>
    <div class="row">

        <fieldset class="form-group col-xs-12">
            <%=f.label :tag_list, 'Tags (separar por vírgulas)' %>
            <%=f.text_field :tag_list, class: 'form-control' %>
        </fieldset>
    </div>
    <div class="row">
        <div class=" col-xs-12">
            <%= f.fields_for :presentation do |presentation| %>
              <fieldset class="form-group col-xs-6">
                  <%= presentation.label :"Data de Apresentação" %>
                  <%=presentation.date_field :date, class: 'form-control custom-select' %>
              </fieldset>
              <fieldset class="form-group col-xs-6">
                  <%= presentation.label :"Sala de Apresentação" %>
                  <%= presentation.text_field :room, class: 'form-control' %>
              </fieldset>
              <fieldset class="form-group col-xs-6">
                <%= presentation.label :"Slides da Apresentação" %><br>
                <%= presentation.file_field :slides %>
              </fieldset>
            <% end %>
        </div>
    </div>
    

<div class="field">
<%= f.fields_for :documents, @project.documents do |document| %>
<p>
 
    <%= document.label :"Nome do Documento" %><br>
    <%= document.text_field :name %>
  </p>

  <p>
    <%= document.label :"Descrição do Documento" %><br>
    <%= document.text_field :description %>
  </p>

 <p>
    <%= document.label :"Data do Documento" %> AAAAMMDD ex: 20161202<br>
    <%= document.text_field :date %>
  </p>

  <p>
    <%= document.label :"Local do Documento" %><br>
    <%= document.text_field :local %>
  </p>
  <p>
    <%= document.label :"Documento/Relatório" %><br>
    <%= document.file_field :document %>
  </p>
<% end %>
</div>


<div class="field">
<%= f.fields_for :project_images, @project.project_images do |projectimage| %>

<p>
  <%= projectimage.label :"Imagem" %><br>
  <%= projectimage.file_field :image%>
   </p>
<% end %>
</div>





<div class="row">
        <div class="actions">
          <%= button_tag type: 'submit', class: "btn btn-outline-success btn-block" do %>
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar Projeto
            <% end %>
        </div>
    </div>
    <div class="row">
    &nbsp;
    </div>
</div>
<% end %>