<div class="row justify-content-between">
	<div class="col-md-6 switch">
		<div class="row">
			<div class="col">
				<span id="grid" class="badge badge-success classicGrid" data-addClas="Grid" data-remoClas="Classic">Grid</span>
				<span id="classic" class="badge badge-success classicGrid" data-addClas="Classic" data-remoClas="Grid">Classic</span>
			</div>
		</div>
	</div>
	<div class="col-md-6 mb-3">
		<button class="badge badge-success classicGrid float-right">Melhores Projectos</button>
	</div>
</div>

<div class="projects articlesGrid">
	<% @projects_list.each do |proj|%>
	<article>
			<% if proj.project_images.empty? %>
			<%= link_to image_tag("/img/project.png"), project_path(proj), :class => "noline" %>
			<% else %>
			<%= link_to image_tag(proj.project_images.first.image.url), project_path(proj), :class => "noline" %>
			<% end %>

			<div class="p-1">
				<span class="category"> <!-- devia-se colocar lá de alguma forma o nome completo do curso, iniciais são pouco claras -->
					<h5 class="py-1"><%= proj.course_unit.course.name %></h5>
					<!--<h7><%= proj.course_unit.name %></h7>	-->			
				</span>

				<% # TODO: provavelmente o ideal é tirar o sublinhado de *todos* os links no CSS e usar só caso queiram em algum caso especial %>

				<h3><%= link_to proj.title, project_path(proj), :class => "noline" %></h3>

				<p class="post_content">
					<%= truncate(proj.resume, length: 80) %>
				</p>

				<span class="date text-center fim">
					<i class="fa fa-calendar pr-1"></i>
					<%=proj.date.to_formatted_s(:long)%>
				</span>
			</div>
	</article> 
	<%end%>
	<div class="projects articlesGrid row">
		<div class="col-md-12">
			<%= will_paginate @projects_list, class: "pagination centrar" %>
		</div>
	</div>	
</div>