<p id="notice"><%= notice %></p>

<h1>Projetos</h1>

<table style="background-color: white;">
  
      <th>Titulo do Projeto</th>
        <th>Resumo do Projeto</th>
        <th>Data do Projeto</th>
        <th>Link GitHub</th>
         <th>Grau</th>
        <th>Url do Projeto</th>
         <th>Data de Apresentação</th>
         <th>Sala de Apresentação</th>
        <th>Slides de Apresentação</th>
        <th>Download da Apresentação</th>
        <th>Destaque</th>
        <th>Projeto Finalizado</th>
        <th>tag</th>
        <th>Utilizador</th>
        <th>Cadeira</th>
        <th>Imagem:</th>

    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.resume %></td>
        <td><%= project.date %></td>
        <td><%= project.github %></td>
        <td><%= project.grade %></td>
        <td><%= project.project_url %></td>
        <td><%= project.presentation.date %></td>
        <td><%= project.presentation.room %></td>
        <td><%= project.presentation.slides_file_name %></td>
        <td><%= link_to 'Download', project.presentation.slides.url(:original, false) %> </td>
        <td><%= project.featured %></td>
        <td><%= project.finished %></td>
        <td><%= raw project.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
        <td><%= project.user.email %></td>
        <td><%= project.course_unit.name %></td> 
       
        <% project.documents do |document| %>
        <th>Nome do Projeto</th>
        <td><%= document.name %></td>
        <th>Descrição do Projeto</th>
        <td><%= document.description %></td>
        <th>Data do Projeto</th>
        <td><%= document.date %></td>
        <th>Local do Projeto</th>
        <td><%= document.local %></td>
        <th>Nome do Ficheiro</th>
        <td><%= document.document_file_name %></td>
        <th>Download do Ficheiro</th>
        <td><%= link_to 'Download', document.document.url(:original, false) %> </td>
        <% end %>

        

        <% project.project_images do |projectimage| %>
        <td><%= image_tag projectimage.image.url %></td>
        <% end %>

        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= button_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
    <% end %>
  
</table>

<br>
<% if user_signed_in?%>
<%= link_to 'New Project', new_project_path %>
<% end %>

