<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @project.resume %>
</p>

<p>
  <strong>Date:</strong>
  <%= @project.date %>
</p>

<p>
  <strong>github:</strong>
  <%= @project.github %>
</p>

<p>
  <strong>grade:</strong>
  <%= @project.grade %>
</p>

<p>
  <strong>projectlink:</strong>
  <%= @project.projectlink %>
</p>

<p>
  <strong>presentation:</strong>
  <%= @project.presentation %>
</p>

<p>
  <strong>feature:</strong>
  <%= @project.feature %>
</p>

<p>
  <strong>finished:</strong>
  <%= @project.finished %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
