<section class="margin mt-3">
  <div class="content">
    <div class="content_container">
      <article class="rounded">
        <p id="notice"><%= notice %></p>

        <h1 class="post_title">
          <%= @project.title %>
          <% if @project.featured %> <big>&#9733;</big> <% end %>
          <% if user_signed_in?%>
          <%= link_to 'Editar', edit_project_path(@project), class: 'btn btn-outline-success pull-right' %>
        <% end %>
        </h1>

        <div class="row">
          <div class="col-xs-12 meta"> 
            <div class="col-xs-6">
              <% if (@project.finished?) %>
                Projecto terminado em 
              <% else %>
                Projecto em curso desde 
              <% end %>
              <% if @project.date.present? %>
                <%= @project.date.to_formatted_s(:long) %>
              <% else %>
              <%= (data por definir) %>
              <% end %>
            </div>
            <div class="col-xs-6 text-xs-right">
              <b><span><%= link_to @project.course_unit.name, course_unit_path(@project.course_unit) %></span></b>&bull;
              <span><%= link_to @project.course_unit.course.name, course_path(@project.course_unit.course) %></span>&bull;
              <span><%= link_to @project.course_unit.course.school.initials, school_path(@project.course_unit.course.school) %></span>
            </div>
          </div>
        </div>

        <!-- Carrossel de imagens-->
        <!-- falta limitar o tamanho máximo a apresentar para as imagens -->
          <%= render partial: "projects/images_carousel", locals: {project_images: @project.project_images} %>
  
        <!-- Conteudo do projeto-->
        <div class="post_content">
        <%= @project.resume %>
        <p>Repositório: <%= link_to @project.github, @project.github %></p>
        <p>Site: <%= link_to @project.project_url, @project.project_url %></p>
        <p>Nota: <%= @project.grade %> deixar de fora?</p> 
        <p>Tags:
        <% @project.tags.each do |tag| %>
        <!-- isto é style  inline à pressão, tem que depois ir para css certo -->
          <span style="background:lightGrey;border-radius: 5px 5px 5px 5px;overflow:hidden;"><%=link_to tag.name, { :action => :index, :controller => :projects, :tag => tag.name }%></span>
          <% end %>
        </p>
        <h5>Elementos do projecto:</h5>
        <ul>
        <% @project.people.each do |p| %>
          <li><%= link_to p.name, person_path(p) %> (<%=p.email%>)</li>
        <% end %>
        </ul>

        <h5>Orientadores:</h5>
        <ul>
        <% @project.supervisors.each do |p| %>
          <li><%= link_to p.name, person_path(p) %> (<%=p.email%>)</li>
        <% end %>
        </ul>
        </div>
 
        <!-- Categorias/Apresentacao/Tags -->
        <div>
            <% if @project.presentation.nil? %>
            <h4>Sem apresentação definida.</h4>
            <%else%>
            <h4>Detalhes da apresentação</h4>
            <span class="pr-0 name corVerde">Data:</span>
                    <%= @project.presentation.date.to_formatted_s(:long) %>

                    <span class="pr-0 pl-2 name corVerde">Sala:</span>
                    <%= @project.presentation.room%>

                    <h5>Júri:</h5>
                    <ul>
                    <% @project.presentation.juries.each do |juri| %>
                    <li><%= link_to juri.name, person_path(juri) %> (<%=juri.email%>)</li>
                    <% end %>
                    </ul>
                    </p>

            <%end%>

            <h4>Documentos</h4>
            <ul>
            <% @project.documents.each do |doc| %>
            <li><%= link_to doc.document_file_name, doc.document.url %> (<%= Filesize.from("#{doc.document_file_size} B").pretty %>)</li>
            
            <% end %>
            <% if (@project.presentation.present?  and @project.presentation.slides.present?) %>
            <li><%= link_to 'Slides da apresentação', @project.presentation.slides.url(:original, false)%> (<%= Filesize.from("#{@project.presentation.slides_file_size} B").pretty %>)
            <%=image_tag @project.presentation.slides.url(:thumbnail)%>
            </li>
            <% elsif (@project.presentation.present?  and @project.presentation.slides.blank?) %>
            <li>Slides da apresentação não disponíveis.</li>  
            <% end %>
            </ul>

            <h4>Projectos relacionados</h4>
            <ul>
            <% @related_projects.each do |rp| %>
            <li><%= link_to rp.title, project_path(rp) %> (<%=rp.course_unit.name%> / <%=rp.course_unit.course.name%>
              <div class="tags">
              <% rp.tags.each do |rpt| %>
                <% if @project.tags.ids.include? rpt.id %>
                  <%=link_to rpt.name, { :action => :index, :controller => :projects, :tag => rpt.name }, {:style => 'background-color:lightGrey;border-radius: 5px 5px 5px 5px;'} %>
                <% else %>
                  <%=link_to rpt.name, { :action => :index, :controller => :projects, :tag => rpt.name }, {:style => 'border:1px solid black;border-radius: 1px 1px 1px 1px;overflow:hidden;'} %>
                <% end %>
              <% end %>
              </div>
            </li>
            <% end %>
            </ul>   
          </div>
      </article>

<<<<<<< HEAD
            <!-- <p class="category">     
                <span class="name">Slides da Apresentação:</span>
                <#%=  @project.presentation.slides_file_name %>
               <td> <#%= link_to 'Download', @project.presentation.slides.url(:original, false) %> </td>

                 <#% @project.documents.each do |document| %>
                 <span class="name">Nome do Projeto:</span>
                 <td><#%= document.name %></td>
                 <span class="name">Descrição do Projeto:</span>
                 <td><#%= document.description %></td>
                 <span class="name">Data do Projeto:</span>
                 <td><#%= document.date %></td>
                 <span class="name">Local do Projeto:</span>
                 <td><#%= document.local %></td>
                 <span class="name">Nome do Ficheiro:</span>
                 <td><#%= document.document_file_name %></td>
                 <td><#%= link_to 'Download', document.document.url(:original, false)%></td>
                 <#% end %>
                 
                <#% @project.project_images.each do |projectimage| %>
                <span class="name">Imagem:</span>
                <td><#%= image_tag projectimage.image.url %></td>
                <#% end %> 

            <p class="category">
              <span class="name">Featured:</span> 
              <#% if @project.featured == TRUE %>
                yes
              <#% else %>
                no
              <#% end %>
              &bull; 

             <p>
                <strong>Destaque:</strong>
                <%= @project.featured %>
              </p> 

               <span class="name">Finished:</span> 
              <#% if @project.finished == TRUE %>
                yes
              <#% else %>
                no
              <#% end %>
            </p>  -->

=======
          
>>>>>>> refs/remotes/origin/master
      <div class="post_nav">
        <% if user_signed_in?%>
          <%= link_to 'Editar', edit_project_path(@project), class: 'btn btn-default' %>
        <% end %>
        <%= link_to '< Voltar atrás', home_index_path, class: 'btn btn-default' %>
      </div>
      
    </div>
    <%= render partial: "shared/sidebar", locals: {schools: @sb_schools, courses: @sb_courses, tags:  @sb_tags} %>
  </div>  
</section>
