<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Resumo:</strong>
  <%= @project.resume %>
</p>

<p>
  <strong>Data:</strong>
  <%= @project.date %>
</p>

<p>
  <strong>Link Github:</strong>
  <%= @project.github %>
</p>

<p>
  <strong>Grau:</strong>
  <%= @project.grade %>
</p>

<p>
  <strong>Url do projeto:</strong>
  <%= @project.project_url %>
</p>

<p>
  <strong>Data de Apresentação:</strong>
  <%= @project.presentation.date %>
</p>

<p>
  <strong>Sala de Apresentação:</strong>
  <%= @project.presentation.room %>
</p>

<p>
  <strong>Destaque:</strong>
  <%= @project.featured %>
</p>

<p>
  <strong>Acabado:</strong>
  <%= @project.finished %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @project.tag_list %>
</p>

<p>
  <strong>Utilizador:</strong>
  <%= @project.user.email %>
</p>

<p>
  <strong>Escola a que pertence:</strong>
  <%= @project.course_unit.course.school.name %>
</p>

<p>
  <strong>Curso a que Pertence:</strong>
  <%= @project.course_unit.course.name %>
</p>

<p>
  <strong>Cadeira a que pertence:</strong>
  <%= @project.course_unit.name %>
</p>

<% if user_signed_in?%>
<%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Back', projects_path %>
