<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @project.resume %>
</p>

<p>
  <strong>Date:</strong>
  <%= @project.date %>
</p>

<p>
  <strong>github:</strong>
  <%= @project.github %>
</p>

<p>
  <strong>grade:</strong>
  <%= @project.grade %>
</p>

<p>
  <strong>project_url:</strong>
  <%= @project.project_url %>
</p>

<p>
  <strong>presentation:</strong>
  <%= @project.presentation %>
</p>

<p>
  <strong>featured:</strong>
  <%= @project.featured %>
</p>

<p>
  <strong>finished:</strong>
  <%= @project.finished %>
</p>
<<<<<<< HEAD

<p>
  <strong>Tag:</strong>
  <%= @project.tag_list %>
</p>

=======
<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>
<p>
  <strong>Discipline:</strong>
  <%= @project.subject_id %>
</p>
>>>>>>> refs/remotes/origin/master
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
