<section class="margin">
  <div class="content">
    <div class="content_container">
      <article>
        <p id="notice"><%= notice %></p>

        <h1 class="post_title">
          <%= @project.title %>
        </h1>

        <div class="meta">
                Publicado por "unknown" &bull; <%= @project.date %>
        </div>

        <img src="/img/1.jpg" alt="1.jpg">

        <div class="post_content">
            <%= @project.resume %>
        </div>

        <div class="catsandtags">
            <p class="category">
                <span class="name">Link Github:</span> 
                <%= @project.github %> &bull;

                <span class="name">Grau:</span> 
                <%= @project.grade %> &bull;

                <span class="name">Url do projeto:</span> 
                <%= @project.project_url %> &bull;

                <span class="name">Data de Apresentação:</span> 
                <%= @project.presentation.date %>

                <span class="name">Sala de Apresentação:</span>
                <%= @project.presentation.room %>

                
                <span>Slides da Apresentação:</span>
                <%=  @project.presentation.slides_file_name %>
               <td> <%= link_to 'Download', @project.presentation.slides.url(:original, false) %> </td>


               <span>Nome do Projeto:</span>
               <%= @project.documents.description %>

            </p>
            <p class="category">
              <span class="name">Featured:</span> 
              <% if @project.featured == TRUE %>
                yes
              <% else %>
                no
              <% end %>
              &bull;

              <p>
                <strong>Destaque:</strong>
                <%= @project.featured %>
              </p>

              <p>
                <strong>Utilizador:</strong>
                <%= @project.user.email %>
              </p>

              <p>
                <strong>Escola a que pertence:</strong>
                <%= @project.course_unit.course.school.name %>
              </p>

              <p>
                <strong>Curso a que Pertence:</strong>
                <%= @project.course_unit.course.name %>
              </p>

              <p>
                <strong>Cadeira a que pertence:</strong>
                <%= @project.course_unit.name %>
              </p>

               <span class="name">Finished:</span> 
              <% if @project.finished == TRUE %>
                yes
              <% else %>
                no
              <% end %>
            </p>

            <p class="tags">
                <span class="name">Tags:</span>
                    <a href="#"><%= @project.tag_list %></a>
            </p>













        </div>
      </article>

      <div class="post_nav">
        <% if user_signed_in?%>
          <%= link_to 'Editar', edit_project_path(@project), class: 'btn btn-default' %>
        <% end %>
        <%= link_to '< Voltar atrás', projects_path, class: 'btn btn-default' %>
      </div>
      
    </div>
    <%= render partial: "shared/sidebar", locals: {schools: @sb_schools, courses: @sb_courses, tags:  @sb_tags} %>
  </div>  
</section>
