<section class="margin">
  <div class="content">
    <div class="content_container">
      <article>
        <p id="notice"><%= notice %></p>

        <h1 class="post_title">
          <%= @project.title %>
        </h1>

        <div class="meta">
                Publicado por "unknown" &bull; <%= @project.date %>
        </div>

        <img src="/img/1.jpg" alt="1.jpg">

        <div class="post_content">
            <%= @project.resume %>
        </div>


        <div class="catsandtags">
            <p class="category">
                <span class="name">GitHub:</span> 
                <%= @project.github %> &bull;

                <span class="name">Grade:</span> 
                <%= @project.grade %> &bull;

                <span class="name">Project URL:</span> 
                <%= @project.project_url %> &bull;

                <span class="name">Presentation:</span> 
                <%= @project.presentation %>
            </p>
            <p class="category">
              <span class="name">Featured:</span> 
              <% if @project.featured == TRUE %>
                yes
              <% else %>
                no
              <% end %>

              &bull;

               <span class="name">Finished:</span> 
              <% if @project.finished == TRUE %>
                yes
              <% else %>
                no
              <% end %>
            </p>

            <p class="tags">
                <span class="name">Tags:</span>
                    <a href="{{ site.tag_dir | prepend: site.baseurl | replace: '//', '/' }}/{{ tag }}">{{ tag }}</a>
            </p>
        </div>
      </article>

      <div class="post_nav">
        <%= link_to '< Voltar atrás', projects_path %>
        <%= link_to 'Editar', edit_project_path(@project) %>
      </div>
      
    </div>
<%= render partial: "shared/sidebar", locals: {schools: @sb_schools, courses: @sb_courses, tags: "benfica"} %>
  </div>  
</section>

