<h1>Lista de Cadeiras</h1>
 <% if user_signed_in?%>
 <%= link_to 'Adicionar Cadeira', new_course_unit_path %>
<%end%>  

<%= form_tag(course_units_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :pesquisa, params[:pesquisa], placeholder: "Search Recipes" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<table>
  <% @course_units.each do |course_unit| %>
    <tr>
      <th>Nome:</th>
      <td><%= course_unit.name %></td>
      <th>Ano:</th>
      <td><%= course_unit.year %></td>
      <th>Semestre:</th>
      <td><%= course_unit.semester %></td>
      <th>Curso a que pertence: </th>
      <td><%= course_unit.course.name%></td>
      

      <td><%= link_to 'Mostrar', course_unit_path(course_unit) %></td>

      <% if user_signed_in?%>
      <td><%= link_to 'Editar', edit_course_unit_path(course_unit) %></td>
      <td><%= button_to 'Remover', course_unit_path(course_unit), method: :delete, data: { confirm: 'Tem a certeza que deseja eliminar?' } %></td>
    <%end%>
    <%end%>
    </tr>
</table>
