<h1>Adicionar Cadeira</h1>

<%= form_for :course_unit, url: course_units_path do |f| %>
 
  <% if @course_unit.errors.any? %>
    <div id="error_explanation">
      <h2>Existe erros no formulário</h2>
      <ul>
        <% @course_unit.errors.each do |attr,msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
       </div>
  <% end %>
 
  <p>
    <%= f.label :"Nome da Cadeira" %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :"Código da Cadeira" %><br>
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :"Iniciais da Cadeira" %><br>
    <%= f.text_field :initials %>
  </p>
  <p>
    <%= f.label :"Descrição da Cadeira" %><br>
    <%= f.text_field :description %>
  </p>
 
 
  <p>
 <%= f.label :"Curso a que pertence a cadeira" %><br>
 <%= f.select :course_id, Course.all.collect { |s| [s.name, s.id] } %>
 </p>

  <p>
    <%= f.submit  "Salvar Cadeira"%>
  </p>
 
<% end %>
 
<%= link_to 'Voltar', course_units_path %>