 <p>
  <strong>Nome:</strong>
  <%= @courseunit.name %>
</p>


<p>
  <strong>Código:</strong>
  <%= @courseunit.code %>
</p>

<p>
  <strong>Iniciais:</strong>
  <%= @courseunit.initials %>
</p>
<p>
  <strong>Descrição:</strong>
  <%= @courseunit.description %>
</p>

<p>
  <strong>Curso a que pertence:</strong>
  <%= @courseunit.course.name %>
</p>

<strong>Projetos Associados:</strong>
<% @courseunit.projects.each do |project| %>
<br>
<%= project.title %>
<% end %>
<br>

  <% if user_signed_in?%>
 <td><%= link_to 'Editar', edit_course_unit_path(@courseunit) %></td>
 <%end%>
 <td><%= link_to 'Voltar', course_units_path %></td>