
  <div class="page-header"> 
    <h1>Editar Pessoas</h1>
 </div>

<%= form_for :person, url: person_path(@person), method: :patch do |f| %>
 
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@person.errors.count, "error") %> não foi guardado
      </h2>
      <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>

    <label for="basic-url">
  <% end %>
    <%= image_tag @person.photo.url(:medium) %>
    <p><h4><%= f.label :"Nome", class: 'label label-default' %></h4></p>
    <%= f.text_field :name , class: 'form-control'%></p>
    <p><h4><%= f.label :"email", class: 'label label-default' %></h4></p>
    <%= f.text_field :email , class: 'form-control'%></p>
    <p><h4><%= f.label :"Foto", class: 'label label-default'%></h4></p>
    <%= f.file_field :photo , class: 'btn btn-warning'%></label><br>
    <p><h4><%= f.label :"Titulo", class: 'label label-default'%></h4></p>
    <%= f.select( :person_type_id, PersonType.all.collect { |s| [s.designation, s.id] }, {}, {class: 'form-control'}) %>
  <br>
  <p><%= f.submit 'Atualizar Dados', class: 'btn btn-primary' %>
    <%= link_to 'Voltar', people_path , class: 'btn btn-success'%>
  </p>
 
<% end %>
 
