
    <title>Listagem de Pessoas</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    




  <div class="page-header"> 
    <h1>Listagem de Pessoas</h1>
  <br>
  <%= link_to 'Adicionar Pessoas', new_person_path, class: 'btn btn-primary' %></div>
  <table>
    <% @people.each do |person| %>
    <tr>
      <td><h3><%= person.name %></h3></td>
      <td><%= person.email%></td>
      <td><%= image_tag person.photo.url(:thumb) %></td>
      <td><%= person.person_type.try(:designation)%>
      <td><%= link_to 'Mostrar', person_path(person) , class: 'btn btn-primary'%></td>
      <td><%= link_to 'Editar', edit_person_path(person) , class: 'btn btn-success'%></td>
      <td><%= link_to 'Remover', person_path(person), method: :delete, data: { confirm: 'Tem a certeza que deseja eliminar?' } , class: 'btn btn-warning'%></td>
    
    </tr>
    <% end %>
  </table>