<h1>Lista de Pessoas</h1>
 
 <%= link_to 'Adicionar Pessoas', new_person_path %>
<table>
  <tr>
    <th>Pessoas:</th>

  </tr>
 
  <% @people.each do |person| %>
    <tr>
      <td><%= person.name %></td>
      <td><%= person.email %></td>
      <td><%= image_tag person.photo.url(:thumb) %></td>
      

      <td><%= link_to 'Mostrar', person_path(person) %></td>
      <td><%= link_to 'Editar', edit_person_path(person) %></td>
      <td><%= link_to 'Remover', person_path(person), method: :delete, data: { confirm: 'Tem a certeza que deseja eliminar?' } %></td>
    
    </tr>
  <% end %>
</table>