<div class="content mt-1">
  <div class="jumbotron px-1 py-1 rounded">
    <div class="alert alert-success" role="alert">
      <h1 class="text-xs-center">Adicionar Pessoas</h1>
    </div>
    <div id="notice"><%= notice %></div>
    <table class="table table-hover table-sm">
      <tr><td>
          <%= form_for :person, url: people_path do |f| %>
          <% if @person.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@person.errors.count, "error") %> não foi guardado</h2>
            <ul>
              <% @person.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
        </td>
      </tr>
      <tr><td><%= f.label :"Nome" , class: 'label label-default' %><br><%= f.text_field :name , class: 'form-control'%></td></tr>
      <tr><td><%= f.label :"email" , class: 'label label-default' %><br><%= f.text_field :email , class: 'form-control'%>
      <tr><td><%= f.label :"Foto" , class: 'label label-default' %><br><%= f.file_field :photo, class: 'form-control'%>
      <tr><td><%= f.label :"Titulo" , class: 'label label-default' %><br>
          <%= f.select( :person_type_id, PersonType.all.collect { |s| [s.designation, s.id] }, {}, {class: 'form-control'}) %>
      </td></tr>
      <tr><td><%= f.submit 'Salvar Pessoa', class: "btn btn-outline-info btn-sm btn-block d-inline-block"%></td></tr>
      <tr><td>
      <% end %>
      <%= link_to 'Voltar', people_path , class: "btn btn-outline-success btn-sm btn-block d-inline-block"%></td></tr>
    </table>
  </div>
</div>