<section class="margin"> 
  <div class="content">
    <div class="content_container">
      <article class="rounded">
        <p id="notice"><%= notice %></p>

        <h1><%= @person.name %></h1>
        <p><%= @person.person_type.try(:designation) %></p>
        <p>< <%= @person.email%> ></p>
        <p><%= image_tag @person.photo.url(:medium) %></p>
        <% if @person.juried_presentations.any? %>
        <p>Foi juri em <%=@person.juried_projects.size %> defesas de projectos.</p>
        <% end %>
      </article>
    </div>  

    <% #isto era uma magia negra para juntar projectos + orientações, este pedaço devia ir para um método no controller
    projects_all = (@person.projects + @person.supervised_projects).sort_by(&:date)
    %>

    <div class="content_container">
    <article class="rounded">
    <h2>Projectos associados a <%= @person.name %></h2>
      <% if projects_all.empty? %>
        <p>Esta pessoa não participou em nenhum projecto.</p>
      <% end %>
    </article>
    </div>
    
    <% if projects_all.any? %>
    <%= render 'projects/projects', collection: @projects_list = projects_all.paginate(:page => params[:page], :per_page => 8) %>
    <% end %>

    <%= render partial: "shared/sidebar", locals: {schools: @sb_schools, courses: @sb_courses, tags:  @sb_tags} %>
  </div>  
</section>
