<p>
  <strong>Nome:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<%= image_tag @person.photo.url(:medium) %>
<br>

 
 <td><%= link_to 'Editar', edit_person_path(@person) , class: 'btn btn-primary'%>
 <%= link_to 'Voltar', people_path , class: 'btn btn-success'%>  
 </td>