<section class="margin">
	<div class="content">
		<p class="switch">switch layout: 
			<span id="grid">Grid</span> &bull; 
			<span id="classic">Classic</span>
		</p>
		<div class="articles">
			<% @projects.each do |proj|%>
				<article>
					<a href="/standard/" class="noline">
						<img src="/img/1.jpg" alt="1.jpg">
					</a>
					<span class="category"><%=proj.title%></span>
					<a href="/projects/<%=proj.id%>">
						<h1><%=proj.title%></h1>
					</a>
					<p class="post_content"><%=proj.resume%></p>
					<span class="date">
						<i class="fa fa-calendar"></i><%=proj.date%>
					</span>
				</article>
			<%end%>
		</div>
		<%= render partial: "shared/sidebar", locals: {schools: @sb_schools, courses: @sb_courses, tags: "benfica"} %>
	</div>	
</section>
