<section class="margin"> 
	<div class="content">
		<p class="switch">
			<span  id="grid" class="tag tag-pill tag-success" data-addClas="Grid" data-remoClas="Classic">Grid</span> &bull; 
			<span  id="classic" class="tag tag-pill tag-success" data-addClas="Classic" data-remoClas="Grid">Classic</span>
		</p>
		<div class="projects articlesGrid">
			<% @projects.each do |proj|%>
				<article>
					<a href="/projects/<%= proj.id %>" class="noline">
						<img src="/img/1.jpg" alt="1.jpg">
					</a>
					<span class="category"><%=proj.title%></span>
					<a href="/projects/<%=proj.id%>">
						<h1><%=proj.title%></h1>
					</a>
					<p class="post_content"><%=proj.resume%></p>
					<span class="date">
						<i class="fa fa-calendar"></i><%=proj.date%>
					</span>
				</article>
			<%end%>
			<div class="pagination">
				<%= will_paginate @projects %>
			</div>			
		</div>
		<%= render partial: "shared/sidebar", locals: {schools: @sb_schools, courses: @sb_courses, tags: @sb_tags} %>
	</div>	
</section>
