<h1>Editar escola</h1>
 
<%= form_for :school, url: school_path(@school), method: :patch do |f| %>
 
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2>Existe erros no formulário
        <%#  <%= pluralize(@school.errors.count, "error") %>
      </h2>
      
      <ul>
        <% @school.errors.each do |attr,msg| %>
    <li><%= msg %></li>
<% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :"Descrição da Escola" %><br>
    <%= f.text_field :description %>
  </p>
 
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Voltar', schools_path %>