<h1>Lista de Escolas</h1>
 
 <%= link_to 'Adicionar Escola', new_school_path %>
<table>
  <tr>
    <th>Escola:</th>

  </tr>

 
 
  <% @schools.each do |school| %>
    <tr>
      <td><%= school.name %></td>
      <td><%= school.code %></td>
      <td><%= school.initials %></td>
      <td><%= school.description %></td>
      

      <td><%= link_to 'Mostrar', school_path(school) %></td>
      <td><%= link_to 'Editar', edit_school_path(school) %></td>
     <td><%= link_to 'Remover', school_path(school), method: :delete, data: { confirm: 'Tem a certeza que deseja eliminar esta escola?' } %></td>
    
    </tr>
  <% end %>
</table>