<section class="margin"> 
	<div class="content">
		<div class="content_container">
			<article class="rounded">
				<p id="notice"><%= notice %></p>

				<h1><%= @school.name %> (<%= @school.initials %>)</h1>
				<p><%= @school.institution.name %></p>
				<h4>Descrição da Escola</h4>
        		<%= @school.description %>
			</article>
		</div>	

		<div class="content_container">
		<article class="rounded">
		<h4>Cursos da <%= @school.name %></h4>
		<ul>
			<% @school.courses.each do |course| %>
<li><%= link_to course.name, course_path(course) %> (<%= course.projects.size %> projectos) </li>
			<% end %>
			</ul>
		</article>
		</div>

		<div class="content_container">
		<article class="rounded">
		<h2>Projectos de <%= @school.name %></h2>
			<% if @school.projects.empty? %>
				<p>Não existem projectos desta escola</p>
			<% end %>
		</article>
		</div>
		
				<% if @school.projects.any? %>
				<%= render 'projects/projects', collection: @projects_list = @school.projects.paginate(:page => params[:page], :per_page => 8) %>
				<% end %>

		<%= render partial: "shared/sidebar", locals: {schools: @sb_schools, courses: @sb_courses, tags:  @sb_tags} %>
	</div>  
</section>
