<p>
  <strong>Escola:</strong>
  <%= @school.name %>
  <%= @school.code %>
  <%= @school.initials %>
  <%= @school.description %>
</p>

 
 <td><%= link_to 'Editar', edit_school_path(@school) %>
 <%= link_to 'Voltar', schools_path %>  
 </td>