<div class="content mt-1" style="width: 50%">
  <div class="jumbotron px-1 py-1 rounded">
    <div class="alert alert-success" role="alert">
      <h1 class="text-xs-center">
        <%= link_to "Log in", new_session_path(resource_name) %> | Alterar password</h1>   
    </div>

    <div class="card  card-outline-secundary">
      <div class="card-block">

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="row  mt-1">
           <fieldset class="form-group has-success col-lg-12">
              <%= f.label :password, "NNova password" %><br />
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em><br />
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
            </fieldset>
          </div>
          
          <div class="row  mt-1">
           <fieldset class="form-group has-success col-lg-12"> 
              <%= f.label :password_confirmation, "Confirmar password" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </fieldset>
          </div>

         
          <div class="row mt-3">
              <div class="form-group has-success col-lg-12">
                    <%= f.submit "Alterar password", :class => 'btn btn-outline-success btn-block' %>
              </div>
          </div>      
        <% end %>
      </div>
    </div>
  </div>
</div>