<h1>Lista de INstituições</h1>
 <% if user_signed_in?%>
 <%= link_to 'Adicionar INstituição', new_institution_path %>
  <%end%>
<table>
 
  <% @institutions.each do |institution| %>
    <tr>
      <th>Nome:</th>
      <td><%= institution.name %></td>
      <th>Código:</th>
      <td><%= institution.code %></td>
      <th>Iniciais:</th>
      <td><%= institution.initials %></td>
      
      <td><%= link_to 'Mostrar', institution_path(institution) %></td>
       <% if user_signed_in?%>
      
      <td><%= link_to 'Editar', edit_institution_path(institution) %></td>
      <td><%= button_to 'Remover', institution_path(institution), method: :delete, data: { confirm: 'Tem a certeza que deseja eliminar?' } %></td>
      <%end%>
    </tr>

  <% end %>
</table>