<h1>Editar Cursos</h1>
 
<%= form_for :course, url: course_path(@course), method: :patch do |f| %>
 
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@course.errors.count, "error") %> não foi guardado
      </h2>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :"Descrição do Curso" %><br>
    <%= f.text_field :description %>
  </p>
 <p>
    <%= f.label :"Nome do Curso" %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :"Iniciais do Curso" %><br>
    <%= f.text_field :inicials %>
  </p>

  <p>
    <%= f.label :"Código do Curso" %><br>
    <%= f.text_field :code %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Voltar', courses_path %>