<h1>Adicionar Courses</h1>

<%= form_for :course, url: courses_path do |f| %>
 
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@course.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :"Descrição de Courses" %><br>
    <%= f.text_field :description %>
  </p>
 
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Voltar', courses_path %>