<section class="margin"> 
	<div class="content">
		<div class="content_container">
			<article class="rounded">
				<p id="notice"><%= notice %></p>

				<h1><%= @course.name %> (<%= @course.initials %>)</h1>
				<p><%= @course.course_type.name %> / <%= link_to @course.school.name, school_path(@course.school) %></p>
			</article>
		</div>	

		<div class="content_container">
		<article class="rounded">
		<h4>Disciplinas do curso <%= @course.name %></h4>
		<ul>
			<% @course.course_units.each do |cu| %>
<li><%= link_to cu.name, course_unit_path(cu) %> (<%= cu.projects.size %> projectos) </li>
			<% end %>
			</ul>
		</article>
		</div>

		<div class="content_container">
		<article class="rounded">
		<h2>Projectos de <%= @course.name %></h2>
			<% if @course.projects.empty? %>
				<p>Não existem projectos deste curso</p>
			<% end %>
		</article>
		</div>
		
				<% if @course.projects.any? %>
				<%= render 'projects/projects', collection: @projects_list = @course.projects.paginate(:page => params[:page], :per_page => 8) %>
				<% end %>

		<%= render partial: "shared/sidebar", locals: {schools: @sb_schools, courses: @sb_courses, tags:  @sb_tags} %>
	</div>  
</section>
