<p>
  <strong>Nome:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Código:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Iniciais:</strong>
  <%= @course.initials %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Escola a que pertence:</strong>
  <%= @course.school.name %>
</p>


<strong>Cadeiras pertencentes a este curso:</strong>
<% @course.course_units.each do |course_unit| %>
<br>
<%= course_unit.name %>
<% end %>



 <% if user_signed_in?%>
 <td><%= link_to 'Editar', edit_course_path(@course) %></td>
<%end%>

<td><%= link_to 'Voltar', courses_path %> </td>