<p>
  <strong>Nome:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Código:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Iniciais:</strong>
  <%= @course.initials %>
</p>
 
 <td><%= link_to 'Editar', edit_course_path(@course) %>
 <%= link_to 'Voltar', courses_path %>  
 </td>